# Byte-compiled / compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
db.sqlite3  # Ignore SQLite database files (if using SQLite for local development)
*.log       # Log files
*.pot       # Translation template files
*.pyc       # Python compiled files

# Virtual environment
venv/       # Ignore your virtual environment directory (adjust name if different)

# Environment variables
# Environment configuration files (e.g., for secret keys)
.env


# Static and media files
/static/
media/

# IDE-specific files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

